<!-- button gradient background -->
<div
  class="absolute top-[35%] min-w-fit rounded-xl bg-gradient-to-r from-secondaryTheme via-tertiaryTheme to-quaternaryTheme p-2 shadow-xl shadow-tertiaryTheme/50 ~text-lg/4xl hover:bg-gradient-to-br active:scale-95 active:shadow-inner"
>
  <button
    id="returnHomeButton"
    type="button"
    class="josefin-sans-importFont me-2 min-w-full rounded-lg bg-secondaryTheme px-5 py-2.5 text-center font-extrabold text-tertiaryTheme active:shadow-inner"
  >
    Return Home
  </button>
</div>

<!-- accordion -->

<div
data-reviews_array="<%=JSON.stringify(dbResults)%>"
class="accordionWrapper absolute top-[50%] w-full rounded-xl bg-gradient-to-r from-secondaryTheme via-tertiaryTheme to-quaternaryTheme px-1.5 py-[.03125rem] shadow-xl shadow-tertiaryTheme/50 sm:~w-[40rem]/[70rem]"
>
<% if (!locals.dbResults.length) { %> 
<h1 class="josefin-sans-importFont p-3 text-center font-extrabold text-primaryTheme ~text-xl/5xl">Return home to write a review!</h1>
<%  } %>
<!-- accordion heading 1 -->
<% if (locals.dbResults) { %> 

    <% dbResults.forEach((elmt, idx) => { %>  
  <div
    id = "<%=elmt.id%>"
    class="relative my-2 rounded-md bg-secondaryTheme py-2 pe-10 ps-3 font-bold text-quaternaryTheme ~text-lg/4xl"
  >
    <h1 class="ps-3 mb-2">
      <%=elmt.name%> 
    </h1>
    <h1 class="ps-3 mt-2">
      <%=elmt.street_address%>, <%=elmt.city%>, <%=elmt.state%> <%=elmt.postal_code%>
    </h1>
    <h1 class="ps-3 my-2"><%=elmt.country%></h1>
    <input id="headerInput_<%= idx %>" type="checkbox" class="peer hidden" />
    <label
      for="headerInput_<%= idx %>"
      class="absolute inset-0 z-10 h-full w-full cursor-pointer rounded-md bg-transparent"
    ></label>
    <img
      src="chevron-light.svg"
      class="accordionChevron absolute end-0 top-1 inline-block transform transition-transform duration-300 ~h-[1.5rem]/[3rem] ~w-[1.5rem]/[3rem] hover:cursor-pointer peer-checked:rotate-180"
      alt="Image description"
    />
    <div
      class="h-0 w-full overflow-hidden font-medium text-tertiaryTheme transition-all duration-100 ease-in-out ~text-sm/2xl peer-checked:h-full peer-checked:p-3"
    >
      <div class="mb-3 flex font-bold ~text-lg/4xl">
        Rating:
        <img
          id="emptyMugs0_<%= idx %>"
          class="emptyMugs ml-2 ~h-[1.5rem]/[3rem] ~w-[1.5rem]/[3rem] hover:cursor-pointer"
          src="empty-mugs-light.svg"
        />
        <img
          id="emptyMugs1_<%= idx %>"
          class="emptyMugs ml-2 ~h-[1.5rem]/[3rem] ~w-[1.5rem]/[3rem] hover:cursor-pointer"
          src="empty-mugs-light.svg"
        />
        <img
          id="emptyMugs2_<%= idx %>"
          class="emptyMugs ml-2 ~h-[1.5rem]/[3rem] ~w-[1.5rem]/[3rem] hover:cursor-pointer"
          src="empty-mugs-light.svg"
        />
        <img
          id="emptyMugs3_<%= idx %>"
          class="emptyMugs ml-2 ~h-[1.5rem]/[3rem] ~w-[1.5rem]/[3rem] hover:cursor-pointer"
          src="empty-mugs-light.svg"
        />
        <img
          id="emptyMugs4_<%= idx %>"
          class="emptyMugs ml-2 ~h-[1.5rem]/[3rem] ~w-[1.5rem]/[3rem] hover:cursor-pointer"
          src="empty-mugs-light.svg"
        />
        <img
          id="emptyMugs5_<%= idx %>"
          class="emptyMugs ml-2 ~h-[1.5rem]/[3rem] ~w-[1.5rem]/[3rem] hover:cursor-pointer"
          src="empty-mugs-light.svg"
        />
        <img
          id="emptyMugs6_<%= idx %>"
          class="emptyMugs ml-2 ~h-[1.5rem]/[3rem] ~w-[1.5rem]/[3rem] hover:cursor-pointer"
          src="empty-mugs-light.svg"
        />
        <img
          id="emptyMugs7_<%= idx %>"
          class="emptyMugs ml-2 ~h-[1.5rem]/[3rem] ~w-[1.5rem]/[3rem] hover:cursor-pointer"
          src="empty-mugs-light.svg"
        />
        <img
          id="emptyMugs8_<%= idx %>"
          class="emptyMugs ml-2 ~h-[1.5rem]/[3rem] ~w-[1.5rem]/[3rem] hover:cursor-pointer"
          src="empty-mugs-light.svg"
        />
        <img
          id="emptyMugs9_<%= idx %>"
          class="emptyMugs ml-2 ~h-[1.5rem]/[3rem] ~w-[1.5rem]/[3rem] hover:cursor-pointer"
          src="empty-mugs-light.svg"
        />
      </div>
      <p class="relative z-20 overflow-y-auto ~max-h-[9.375rem]/[12.5rem]">
        <%=elmt.user_review%>
      </p>
      <div
        class="float-end mt-2 inline-flex transition-all duration-300 ease-in-out"
      >
        <img
          id="editButton_<%= idx %>"
          src="edit-light.svg"
          class="editButtons z-20 mx-2 rounded-xl border-4 border-quaternaryTheme p-1 shadow-md shadow-tertiaryTheme ~h-[2.5rem]/[4rem] ~w-[2.5rem]/[4rem] hover:cursor-pointer active:scale-95 active:shadow-inner"
        />
        <label class="z-20 rounded-xl" for="confirmationModalToggle">
          <img
            id="deleteButton_<%= idx %>"
            src="delete-light.svg"
            class="deleteButtons z-20 rounded-xl border-4 border-quaternaryTheme p-2 shadow-md shadow-tertiaryTheme ~h-[2.5rem]/[4rem] ~w-[2.5rem]/[4rem] hover:cursor-pointer active:scale-95 active:shadow-inner"
          />
        </label>
      </div>
    </div>
  </div>
  <%  })} %>

  <!-- / accordion heading 1 -->
</div>
